.Xauthority
.bash_history
.cache
.profile
.terminfo
.ssh
.local/share/xorg
.local/share/qutebrowser/*
**/__pycache__/
.local/lib/python3.11
.local/bin/tg
.local/bin/ff
.local/share/recently-used.xbel
.local/share/TelegramDesktop/
.local/share/applications
.local/share/dbus-1
.local/share/icons
.local/src/chimera
.local/bin/chimera*
.local/share/licenses
.local/bin/dwm
.local/src/dwm/dwm
.local/src/dwm/dwm.o
.local/bin/chem
.local/share/iwctl/history
.local/src/chemcraft
.local/share/fonts
.local/share/jupyter
.local/src/rcfiles
