.Xauthority
.bash_history
.cache
.profile
.terminfo
.ssh
.local/share/xorg
.local/share/qutebrowser/*
**/__pycache__/
.local/lib/python3.11
.local/bin/tg
.local/bin/ff
.local/share/recently-used.xbel

.local/share/TelegramDesktop/

.local/share/applications

.local/share/dbus-1
